<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100">
                <img src="{% static 'images/coffee01.jpg'%}" class="card-img-top w-60" alt="coffee grain" />
                <div class="card-body">
                    <h5 class="card-title">Coffee Arabica</h5>
                    <p class="card-text">
                        Usually, drinks considered special are made with Arabica coffee
                        which, despite having a lower caffeine content, has a very
                        particular complexity of aromas.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img src="{% static 'images/coffee02.jpg'%}" class="card-img-top w-60" alt="coffee grain" />
                <div class="card-body">
                    <h5 class="card-title">Coffee Bourboun</h5>
                    <p class="card-text">
                        Arabica is a coffee that originates other varieties, one of
                        which is Bourbon. One of the highest quality grains in the
                        world. The aroma is very intense and the flavor complex, with
                        hints of hazelnut.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img src="{% static 'images/coffee03.jpg'%}" class="card-img-top img-fluid" alt="coffee grain" />
                <div class="card-body">
                    <h5 class="card-title">Coffee Robusta</h5>
                    <p class="card-text">
                        For comparison purposes, Robusta coffee has twice as much
                        caffeine as Arabica and, precisely because of this, is
                        considered a strong drink.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>