{% extends 'base/base.html' %}

<h2>Welcome to Coffee Blog</h2>
<p>Explore the world of coffee and its fascinating flavors.</p>
</div>

{% block container %}
{% load static %}
<div class="container">
    
    <div class="row">
       <!-- {{publica}}-->
        {% for n in publica %}      
        <div class="col-md-4 mt-2 mb-2">
            <div class="card">
                {% if n.featured_image  %}                                 
                    <img height='300' src=" {{n.featured_image.url }}" class="card-img-top w-60" alt="coffee grain" />
                {% else %}
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" class="card-img-top w-60" alt="coffee grain" />
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{n.title}}</h5>
                    <p class="card-text">
                        {{n.content}}
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Read More</a>-->
                </div>
            </div>
        </div>
         {% endfor %}
    </div>
   
   

     



        
    {% endblock container %}