{% extends 'base/base.html' %}



{% block container %}
{% load static %}
<div class="container">
    <div>
        <h3>Welcome to Coffee Blog</h3>
        <p>Explore the world of coffee and its fascinating flavors.</p>
    </div>   
    
    <div class="row">
       <!-- {{publica}}-->
        {% for n in publica %}      
        <div class="col-md-4 mt-2 mb-2">
            <div class="card">
                {% if n.featured_image  %}                                 
                    <img height='250' src=" {{n.featured_image.url }}" class="card-img-top w-60" alt="coffee grain" />
                {% else %}
                    <img src="{% static 'images/coffee04.jpg' %}" class="card-img-top w-60" alt="coffee grain" />
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{n.title}}</h5>
                    <p class="card-text">
                        {{n.content}}
                    </p>                    
                </div>
            </div>
        </div>
         {% endfor %}
    </div>
   
   

     



        
    {% endblock container %}