{% extends 'base.html' %} 
{% load static %} 

{% block container %}

{% if messages %}
<div class="alert alert-success" role="alert" id="alert-container">
    <ul class="messages list-unstyled alert-success">
        {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<div class="container">
    <p>Do you want to log in again?</p>
    <a class="nav-link" href="{% url 'access_control:Make_login' %}"><strong>Click Here</strong></a>
</div>


{% endblock container %}