{% extends 'base.html' %}

{% block css %}
/* static/css/styles.css */
<style>

.form-container {
max-width: 800px !important;
margin: auto !important;
padding: 2rem !important;
background-color: #f4f4f4 !important;
border-radius: 10px !important;
background: #007bff;

}
.bg-secondary{
background-color: #f4f4f4 !important;
}

.form-container form {
display: grid !important;

}

.form-container form label {
font-weight: bold !important;
}

.form-container form input,
.form-container form button {
width: 100% !important;
padding: 0.5rem !important;
border: 1px solid #ccc !important;
border-radius: 4px !important;
}

.form-container form input[type="password"] {
font-family: inherit !important;
}

.form-container form .help-text {
font-size: 0.8rem !important;
color: #888 !important;
}

.form-container form button {
padding: 0.5rem 1rem !important;
background-color: #007bff !important;
color: white !important;
border: none !important;
border-radius: 4px !important;
cursor: pointer !important;
}

</style>

{% endblock css %}

{% block page_title_content %}

<div class="m-auto w-75  p-1 ml-auto mr-auto mt-2 mb-5 shadow shadow-sm">
    <h2>{{title_page}} <b class="text-uppercase">{{object}}</b></h2>
</div>
{% if title_page == 'Register' %}
<div class="m-auto w-75 p-1 ml-auto mr-auto mt-2 mb-2">{{description_page}}
    <p>Then please sign in instead.<a class="nav-link" href="{% url 'access_control:Make_login' %}"><strong>Sign in</strong></a></p>
</div>
{% else %}
<div class="m-auto w-75 p-1 ml-auto mr-auto mt-2 mb-2">{{description_page}}</div>
{% endif %}

{% endblock page_title_content %}
{% block container %}


<form method="POST" , enctype="multipart/form-data"  class='form-container w-75  shadow shadow-sm p-2 class-form m-auto'>
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.media}}
    <button type="submit" class="btn btn-sm btn-primary">{{button_name}} <b
            class="text-capitalize">{{object}}</b></button>
</form>

{% endblock container %}